backend:
  name: git-gateway
  branch: main

media_folder: "assets/uploads"
public_folder: "/assets/uploads"

publish_mode: editorial_workflow
locale: "en"

slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"

collections:
  - label: "Blog"
    name: "blog"
    files:
      - label: "Posts (JSON list)"
        name: "posts"
        file: "blog-data.json"
        format: "json"
        fields:
          - label: "Posts"
            name: "posts"
            widget: "list"
            summary: "{{fields.title}} — {{fields.date}}"
            fields:
              - { label: "Slug", name: "slug", widget: "string" }
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Date", name: "date", widget: "datetime" }
              - { label: "Excerpt", name: "excerpt", widget: "text", required: false }
              - { label: "Cover", name: "cover", widget: "image", required: false }
              - label: "Kategori"         # ⬅⬅⬅ TAMBAHKAN INI
                name: "cat"
                widget: "select"
                options:
                  - { label: "Public Speaking", value: "public-speaking" }
                  - { label: "Self-Confidence", value: "self-confidence" }
                  - { label: "Parenting", value: "parenting" }
                  - { label: "Motivation", value: "motivation"}
                  - { label: "Career", value: "career" }
              - { label: "Content", name: "content", widget: "text" }

  - label: "Publications"
    name: "publications"
    files:
      - label: "All Publications"
        name: "all_publications"
        file: "publications-data.json"
        format: "json"
        fields:
          - label: "Items"
            name: "items"
            widget: "list"
            summary: "{{fields.title}} — {{fields.year}}"
            fields:
              - { label: "Type", name: "type", widget: "select", options: ["book","journal","ebook","resource"] }
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Authors", name: "authors", widget: "string" }
              - { label: "Year", name: "year", widget: "number" }
              - { label: "Excerpt", name: "excerpt", widget: "text", required: false }
              - { label: "Cover", name: "cover", widget: "image", required: false }

  - label: "Gallery"
    name: "gallery"
    files:
      - label: "Gallery Items"
        name: "items"
        file: "gallery-data.json"
        format: "json"
        fields:
          - label: "Items"
            name: "items"
            widget: "list"
            summary: "{{fields.title}}"
            fields:
              - { label: "Title", name: "title", widget: "string" }
              - { label: "Image", name: "image", widget: "image" }
              - { label: "Caption", name: "caption", widget: "text", required: false }
